In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import os

#  Step 1: Load the data

In [2]:
summary_dir = '/Trex/case_results/i.e215.I2000Clm50SpGs.hw_production.02/research_results/summary'

# merged_feather_path = os.path.join(summary_dir, 'local_hour_adjusted_variables.feather')
merged_feather_path = os.path.join(summary_dir, 'local_hour_adjusted_variables_with_location_ID.feather')

local_hour_adjusted_df = pd.read_feather(merged_feather_path)
local_hour_adjusted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58245960 entries, 0 to 58245959
Data columns (total 23 columns):
 #   Column        Dtype
---  ------        -----
 0   lat           float32
 1   lon           float32
 2   time          datetime64[ns]
 3   UHI           float32
 4   UWBI          float32
 5   WIND          float32
 6   RAIN          float32
 7   SNOW          float32
 8   HW            float64
 9   Q2M_R         float32
 10  Q2M_U         float32
 11  VAPOR_PRES_R  float32
 12  VAPOR_PRES_U  float32
 13  hour          int32
 14  month         int32
 15  year          int32
 16  UHI_avg       float32
 17  UWBI_avg      float32
 18  UHI_diff      float32
 19  UWBI_diff     float32
 20  local_time    datetime64[ns]
 21  local_hour    int32
 22  location_ID   int64
dtypes: datetime64[ns](2), float32(15), float64(1), int32(4), int64(1)
memory usage: 5.9 GB

#  Step 2: Create event ID

In [3]:
import numpy as np
import pandas as pd

# Sort the DataFrame by location_ID and time
local_hour_adjusted_df = local_hour_adjusted_df.sort_values(['location_ID', 'time'])

# Create a boolean mask to identify the start of each heatwave event within each location
mask = local_hour_adjusted_df.groupby('location_ID')['time'].diff() > pd.Timedelta(hours=1)

# Create a new column 'event_ID' and assign unique event IDs within each location
local_hour_adjusted_df['event_ID'] = (
        mask.groupby(local_hour_adjusted_df['location_ID']).cumsum().astype(int)
        + local_hour_adjusted_df.groupby('location_ID').ngroup() * local_hour_adjusted_df['location_ID'].nunique()
)

##  Step 2.2 Check the continuity of dates within each event

In [5]:
# Check if hours are continuous within each event
is_continuous = local_hour_adjusted_df.groupby('event_ID')['time'].apply(
    lambda x: x.diff().fillna(pd.Timedelta(hours=0)).eq(pd.Timedelta(hours=1)).all()
).all()
print("Hours are continuous within each event:", is_continuous)

Hours are continuous within each event: False

##  Step 2.3 Check the uniqueness of event IDs within each location:

In [4]:
# Check if event IDs are unique across all locations and continuous heatwave periods
is_unique = local_hour_adjusted_df['event_ID'].nunique() == local_hour_adjusted_df.groupby(['location_ID', 'event_ID']).ngroups
print("Event IDs are unique across all locations and continuous heatwave periods:", is_unique)

Event IDs are unique across all locations and continuous heatwave periods: True

In [7]:
if not is_continuous.all():
    print("Hours are not continuous within each event.")

    # Convert is_continuous to a pandas Series
    is_continuous_series = pd.Series(is_continuous, index=local_hour_adjusted_df['event_ID'].unique())

    # Get the event_IDs where hours are not continuous
    non_continuous_events = is_continuous_series[~is_continuous_series].index

    # Print the data for the first 20 non-continuous events
    for event_id in non_continuous_events[:20]:
        event_data = local_hour_adjusted_df[local_hour_adjusted_df['event_ID'] == event_id]
        print(f"Event ID: {event_id}")
        print(event_data[['location_ID', 'event_ID', 'time']])
        print()
else:
    print("Hours are continuous within each event.")

Hours are not continuous within each event.
Event ID: 0
         location_ID  event_ID                time
8807640        13770         0 1989-02-03 00:00:00
8807643        13770         0 1989-02-03 01:00:00
8807646        13770         0 1989-02-03 02:00:00
8807649        13770         0 1989-02-03 03:00:00
8807652        13770         0 1989-02-03 04:00:00
...              ...       ...                 ...
8807699        13770         0 1989-02-05 19:00:00
8807702        13770         0 1989-02-05 20:00:00
8807705        13770         0 1989-02-05 21:00:00
8807708        13770         0 1989-02-05 22:00:00
8807711        13770         0 1989-02-05 23:00:00

[72 rows x 3 columns]

Event ID: 1
          location_ID  event_ID                time
14280936        13770         1 1992-01-22 00:00:00
14280939        13770         1 1992-01-22 01:00:00
14280942        13770         1 1992-01-22 02:00:00
14280945        13770         1 1992-01-22 03:00:00
14280948        13770         1 1992-01-22 04:00:00
...               ...       ...                 ...
14280995        13770         1 1992-01-24 19:00:00
14280998        13770         1 1992-01-24 20:00:00
14281001        13770         1 1992-01-24 21:00:00
14281004        13770         1 1992-01-24 22:00:00
14281007        13770         1 1992-01-24 23:00:00

[72 rows x 3 columns]

Event ID: 2
          location_ID  event_ID                time
15691512        13770         2 1993-12-22 00:00:00
15691515        13770         2 1993-12-22 01:00:00
15691518        13770         2 1993-12-22 02:00:00
15691521        13770         2 1993-12-22 03:00:00
15691524        13770         2 1993-12-22 04:00:00
...               ...       ...                 ...
15691571        13770         2 1993-12-24 19:00:00
15691574        13770         2 1993-12-24 20:00:00
15691577        13770         2 1993-12-24 21:00:00
15691580        13770         2 1993-12-24 22:00:00
15691583        13770         2 1993-12-24 23:00:00

[72 rows x 3 columns]

Event ID: 3
          location_ID  event_ID                time
32783424        13770         3 2002-01-17 00:00:00
32783427        13770         3 2002-01-17 01:00:00
32783430        13770         3 2002-01-17 02:00:00
32783433        13770         3 2002-01-17 03:00:00
32783436        13770         3 2002-01-17 04:00:00
...               ...       ...                 ...
32783483        13770         3 2002-01-19 19:00:00
32783486        13770         3 2002-01-19 20:00:00
32783489        13770         3 2002-01-19 21:00:00
32783492        13770         3 2002-01-19 22:00:00
32783495        13770         3 2002-01-19 23:00:00

[72 rows x 3 columns]

Event ID: 4
          location_ID  event_ID                time
53262480        13770         4 2012-02-10 00:00:00
53262483        13770         4 2012-02-10 01:00:00
53262486        13770         4 2012-02-10 02:00:00
53262489        13770         4 2012-02-10 03:00:00
53262492        13770         4 2012-02-10 04:00:00
...               ...       ...                 ...
53262539        13770         4 2012-02-12 19:00:00
53262542        13770         4 2012-02-12 20:00:00
53262545        13770         4 2012-02-12 21:00:00
53262548        13770         4 2012-02-12 22:00:00
53262551        13770         4 2012-02-12 23:00:00

[72 rows x 3 columns]

Event ID: 3704
          location_ID  event_ID                time
37056168        14631      3704 2004-02-22 00:00:00
37056171        14631      3704 2004-02-22 01:00:00
37056174        14631      3704 2004-02-22 02:00:00
37056177        14631      3704 2004-02-22 03:00:00
37056180        14631      3704 2004-02-22 04:00:00
...               ...       ...                 ...
37056227        14631      3704 2004-02-24 19:00:00
37056230        14631      3704 2004-02-24 20:00:00
37056233        14631      3704 2004-02-24 21:00:00
37056236        14631      3704 2004-02-24 22:00:00
37056239        14631      3704 2004-02-24 23:00:00

[72 rows x 3 columns]

Event ID: 3705
          location_ID  event_ID                time
43507392        14631      3705 2008-01-29 00:00:00
43507395        14631      3705 2008-01-29 01:00:00
43507398        14631      3705 2008-01-29 02:00:00
43507401        14631      3705 2008-01-29 03:00:00
43507404        14631      3705 2008-01-29 04:00:00
...               ...       ...                 ...
43507451        14631      3705 2008-01-31 19:00:00
43507454        14631      3705 2008-01-31 20:00:00
43507457        14631      3705 2008-01-31 21:00:00
43507460        14631      3705 2008-01-31 22:00:00
43507463        14631      3705 2008-01-31 23:00:00

[72 rows x 3 columns]

Event ID: 3706
          location_ID  event_ID                time
50604648        14631      3706 2011-02-09 00:00:00
50604651        14631      3706 2011-02-09 01:00:00
50604654        14631      3706 2011-02-09 02:00:00
50604657        14631      3706 2011-02-09 03:00:00
50604660        14631      3706 2011-02-09 04:00:00
...               ...       ...                 ...
50604707        14631      3706 2011-02-11 19:00:00
50604710        14631      3706 2011-02-11 20:00:00
50604713        14631      3706 2011-02-11 21:00:00
50604716        14631      3706 2011-02-11 22:00:00
50604719        14631      3706 2011-02-11 23:00:00

[72 rows x 3 columns]

Event ID: 7408
         location_ID  event_ID                time
2072400        14636      7408 1986-01-09 00:00:00
2072408        14636      7408 1986-01-09 01:00:00
2072416        14636      7408 1986-01-09 02:00:00
2072424        14636      7408 1986-01-09 03:00:00
2072432        14636      7408 1986-01-09 04:00:00
...              ...       ...                 ...
2072554        14636      7408 1986-01-11 19:00:00
2072562        14636      7408 1986-01-11 20:00:00
2072570        14636      7408 1986-01-11 21:00:00
2072578        14636      7408 1986-01-11 22:00:00
2072586        14636      7408 1986-01-11 23:00:00

[72 rows x 3 columns]

Event ID: 7409
         location_ID  event_ID                time
2072403        14636      7409 1986-01-22 00:00:00
2072411        14636      7409 1986-01-22 01:00:00
2072419        14636      7409 1986-01-22 02:00:00
2072427        14636      7409 1986-01-22 03:00:00
2072435        14636      7409 1986-01-22 04:00:00
...              ...       ...                 ...
2072559        14636      7409 1986-01-26 19:00:00
2072567        14636      7409 1986-01-26 20:00:00
2072575        14636      7409 1986-01-26 21:00:00
2072583        14636      7409 1986-01-26 22:00:00
2072591        14636      7409 1986-01-26 23:00:00

[120 rows x 3 columns]

Event ID: 7410
         location_ID  event_ID                time
4366680        14636      7410 1987-01-26 00:00:00
4366684        14636      7410 1987-01-26 01:00:00
4366688        14636      7410 1987-01-26 02:00:00
4366692        14636      7410 1987-01-26 03:00:00
4366696        14636      7410 1987-01-26 04:00:00
...              ...       ...                 ...
4366759        14636      7410 1987-01-29 19:00:00
4366763        14636      7410 1987-01-29 20:00:00
4366767        14636      7410 1987-01-29 21:00:00
4366771        14636      7410 1987-01-29 22:00:00
4366775        14636      7410 1987-01-29 23:00:00

[96 rows x 3 columns]

Event ID: 7411
         location_ID  event_ID                time
6765816        14636      7411 1988-12-29 00:00:00
6765819        14636      7411 1988-12-29 01:00:00
6765822        14636      7411 1988-12-29 02:00:00
6765825        14636      7411 1988-12-29 03:00:00
6765828        14636      7411 1988-12-29 04:00:00
...              ...       ...                 ...
8808037        14636      7411 1989-01-03 19:00:00
8808054        14636      7411 1989-01-03 20:00:00
8808071        14636      7411 1989-01-03 21:00:00
8808088        14636      7411 1989-01-03 22:00:00
8808105        14636      7411 1989-01-03 23:00:00

[144 rows x 3 columns]

Event ID: 7412
         location_ID  event_ID                time
8807715        14636      7412 1989-02-02 00:00:00
8807732        14636      7412 1989-02-02 01:00:00
8807749        14636      7412 1989-02-02 02:00:00
8807766        14636      7412 1989-02-02 03:00:00
8807783        14636      7412 1989-02-02 04:00:00
...              ...       ...                 ...
8808042        14636      7412 1989-02-06 19:00:00
8808059        14636      7412 1989-02-06 20:00:00
8808076        14636      7412 1989-02-06 21:00:00
8808093        14636      7412 1989-02-06 22:00:00
8808110        14636      7412 1989-02-06 23:00:00

[120 rows x 3 columns]

Event ID: 7413
         location_ID  event_ID                time
8807720        14636      7413 1989-02-16 00:00:00
8807737        14636      7413 1989-02-16 01:00:00
8807754        14636      7413 1989-02-16 02:00:00
8807771        14636      7413 1989-02-16 03:00:00
8807788        14636      7413 1989-02-16 04:00:00
...              ...       ...                 ...
8808045        14636      7413 1989-02-18 19:00:00
8808062        14636      7413 1989-02-18 20:00:00
8808079        14636      7413 1989-02-18 21:00:00
8808096        14636      7413 1989-02-18 22:00:00
8808113        14636      7413 1989-02-18 23:00:00

[72 rows x 3 columns]

Event ID: 7414
         location_ID  event_ID                time
8807723        14636      7414 1989-12-20 00:00:00
8807740        14636      7414 1989-12-20 01:00:00
8807757        14636      7414 1989-12-20 02:00:00
8807774        14636      7414 1989-12-20 03:00:00
8807791        14636      7414 1989-12-20 04:00:00
...              ...       ...                 ...
8808048        14636      7414 1989-12-22 19:00:00
8808065        14636      7414 1989-12-22 20:00:00
8808082        14636      7414 1989-12-22 21:00:00
8808099        14636      7414 1989-12-22 22:00:00
8808116        14636      7414 1989-12-22 23:00:00

[72 rows x 3 columns]

Event ID: 7415
         location_ID  event_ID                time
8807726        14636      7415 1989-12-24 00:00:00
8807743        14636      7415 1989-12-24 01:00:00
8807760        14636      7415 1989-12-24 02:00:00
8807777        14636      7415 1989-12-24 03:00:00
8807794        14636      7415 1989-12-24 04:00:00
...              ...       ...                 ...
8808051        14636      7415 1989-12-26 19:00:00
8808068        14636      7415 1989-12-26 20:00:00
8808085        14636      7415 1989-12-26 21:00:00
8808102        14636      7415 1989-12-26 22:00:00
8808119        14636      7415 1989-12-26 23:00:00

[72 rows x 3 columns]

Event ID: 7416
          location_ID  event_ID                time
10654608        14636      7416 1990-02-20 00:00:00
10654615        14636      7416 1990-02-20 01:00:00
10654622        14636      7416 1990-02-20 02:00:00
10654629        14636      7416 1990-02-20 03:00:00
10654636        14636      7416 1990-02-20 04:00:00
...               ...       ...                 ...
10654744        14636      7416 1990-02-23 19:00:00
10654751        14636      7416 1990-02-23 20:00:00
10654758        14636      7416 1990-02-23 21:00:00
10654765        14636      7416 1990-02-23 22:00:00
10654772        14636      7416 1990-02-23 23:00:00

[96 rows x 3 columns]

Event ID: 7417
          location_ID  event_ID                time
10654612        14636      7417 1990-12-25 00:00:00
10654619        14636      7417 1990-12-25 01:00:00
10654626        14636      7417 1990-12-25 02:00:00
10654633        14636      7417 1990-12-25 03:00:00
10654640        14636      7417 1990-12-25 04:00:00
...               ...       ...                 ...
10654747        14636      7417 1990-12-27 19:00:00
10654754        14636      7417 1990-12-27 20:00:00
10654761        14636      7417 1990-12-27 21:00:00
10654768        14636      7417 1990-12-27 22:00:00
10654775        14636      7417 1990-12-27 23:00:00

[72 rows x 3 columns]

Event ID: 7418
          location_ID  event_ID                time
12357168        14636      7418 1991-01-10 00:00:00
12357178        14636      7418 1991-01-10 01:00:00
12357188        14636      7418 1991-01-10 02:00:00
12357198        14636      7418 1991-01-10 03:00:00
12357208        14636      7418 1991-01-10 04:00:00
...               ...       ...                 ...
12357361        14636      7418 1991-01-13 19:00:00
12357371        14636      7418 1991-01-13 20:00:00
12357381        14636      7418 1991-01-13 21:00:00
12357391        14636      7418 1991-01-13 22:00:00
12357401        14636      7418 1991-01-13 23:00:00

[96 rows x 3 columns]

Event ID: 7419
          location_ID  event_ID                time
12357172        14636      7419 1991-01-18 00:00:00
12357182        14636      7419 1991-01-18 01:00:00
12357192        14636      7419 1991-01-18 02:00:00
12357202        14636      7419 1991-01-18 03:00:00
12357212        14636      7419 1991-01-18 04:00:00
...               ...       ...                 ...
12357364        14636      7419 1991-01-20 19:00:00
12357374        14636      7419 1991-01-20 20:00:00
12357384        14636      7419 1991-01-20 21:00:00
12357394        14636      7419 1991-01-20 22:00:00
12357404        14636      7419 1991-01-20 23:00:00

[72 rows x 3 columns]

## Step 2.4 Manually inspect a few events

In [8]:
# Inspect a few events manually
sample_events = local_hour_adjusted_df.groupby(['location_ID', 'event_ID']).head(1).sort_values('event_ID')
print(sample_events[['location_ID', 'event_ID', 'local_time']])

          location_ID  event_ID          local_time
8807640         13770         0 1989-02-03 19:00:00
14280936        13770         1 1992-01-22 19:00:00
15691512        13770         2 1993-12-22 19:00:00
32783424        13770         3 2002-01-17 19:00:00
53262480        13770         4 2012-02-10 19:00:00
...               ...       ...                 ...
39193752        46987  13704800 2004-07-17 03:00:00
50604504        46987  13704801 2010-08-05 03:00:00
50604576        47265  13708504 2010-07-29 02:00:00
45755304        47566  13712208 2008-07-21 03:00:00
58245888        48138  13715912 2013-06-25 03:00:00

[293889 rows x 3 columns]

In [9]:
sample_events[['location_ID', 'event_ID', 'local_time']]

          location_ID  event_ID          local_time
8807640         13770         0 1989-02-03 19:00:00
14280936        13770         1 1992-01-22 19:00:00
15691512        13770         2 1993-12-22 19:00:00
32783424        13770         3 2002-01-17 19:00:00
53262480        13770         4 2012-02-10 19:00:00
...               ...       ...                 ...
39193752        46987  13704800 2004-07-17 03:00:00
50604504        46987  13704801 2010-08-05 03:00:00
50604576        47265  13708504 2010-07-29 02:00:00
45755304        47566  13712208 2008-07-21 03:00:00
58245888        48138  13715912 2013-06-25 03:00:00

[293889 rows x 3 columns]

In [17]:
local_hour_adjusted_df

,lat,lon,time,UHI,UWBI,WIND,RAIN,SNOW,HW,Q2M_R,...,month,year,UHI_avg,UWBI_avg,UHI_diff,UWBI_diff,local_time,local_hour,location_ID,event_ID
8807640,-45.706806,292.5,1989-02-03 00:00:00,0.540588,-0.162042,7.673144,0.0,0.0,1.0,0.005918,...,2,1989,0.454097,-0.031426,0.086491,-0.130616,1989-02-03 19:00:00,19,13770,0
8807643,-45.706806,292.5,1989-02-03 01:00:00,0.656219,0.010044,7.079582,0.0,0.0,1.0,0.006022,...,2,1989,0.527253,0.077270,0.128967,-0.067226,1989-02-03 20:00:00,20,13770,0
8807646,-45.706806,292.5,1989-02-03 02:00:00,0.625397,0.057197,6.486020,0.0,0.0,1.0,0.006199,...,2,1989,0.522004,0.104143,0.103393,-0.046946,1989-02-03 21:00:00,21,13770,0
8807649,-45.706806,292.5,1989-02-03 03:00:00,0.565552,0.059347,6.313677,0.0,0.0,1.0,0.006253,...,2,1989,0.490119,0.105526,0.075433,-0.046178,1989-02-03 22:00:00,22,13770,0
8807652,-45.706806,292.5,1989-02-03 04:00:00,0.489014,0.040320,6.281740,0.0,0.0,1.0,0.006269,...,2,1989,0.457829,0.099154,0.031185,-0.058834,1989-02-03 23:00:00,23,13770,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58245947,67.382202,52.5,2013-06-27 19:00:00,0.888916,0.327215,5.298829,0.0,0.0,1.0,0.005154,...,6,2013,0.938771,0.185750,-0.049855,0.141465,2013-06-27 22:00:00,22,48138,13715912
58245950,67.382202,52.5,2013-06-27 20:00:00,0.931152,0.385791,4.657486,0.0,0.0,1.0,0.004895,...,6,2013,0.935369,0.253186,-0.004216,0.132605,2013-06-27 23:00:00,23,48138,13715912
58245953,67.382202,52.5,2013-06-27 21:00:00,1.093048,0.406535,4.410651,0.0,0.0,1.0,0.004919,...,6,2013,0.941973,0.285870,0.151075,0.120665,2013-06-28 00:00:00,0,48138,13715912
58245956,67.382202,52.5,2013-06-27 22:00:00,1.264160,0.445448,4.295317,0.0,0.0,1.0,0.005003,...,6,2013,0.957070,0.314096,0.307091,0.131353,2013-06-28 01:00:00,1,48138,13715912
58245959,67.382202,52.5,2013-06-27 23:00:00,1.276093,0.458876,4.179984,0.0,0.0,1.0,0.005046,...,6,2013,0.956451,0.332235,0.319642,0.126641,2013-06-28 02:00:00,2,48138,13715912