In [2]:
import pandas as pd
import numpy as np
import xarray as xr
import os

#  Step 1: Load the data

In [3]:
summary_dir = '/Trex/test_case_results/i.e215.I2000Clm50SpGs.hw_production.02/research_results/summary'

# merged_feather_path = os.path.join(summary_dir, 'local_hour_adjusted_variables.feather')
merged_feather_path = os.path.join(summary_dir, 'local_hour_adjusted_variables_with_location_ID_event_ID.feather')

local_hour_adjusted_df = pd.read_feather(merged_feather_path)
local_hour_adjusted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58245960 entries, 8945088 to 56705927
Data columns (total 73 columns):
 #   Column           Dtype
---  ------           -----
 0   index            int64
 1   time             datetime64[ns]
 2   lat              float32
 3   lon              float32
 4   APPAR_TEMP       float32
 5   APPAR_TEMP_R     float32
 6   APPAR_TEMP_U     float32
 7   EFLX_LH_TOT      float32
 8   EFLX_LH_TOT_R    float32
 9   EFLX_LH_TOT_U    float32
 10  FGR              float32
 11  FGR_R            float32
 12  FGR_U            float32
 13  FIRA             float32
 14  FIRA_R           float32
 15  FIRA_U           float32
 16  FIRE             float32
 17  FIRE_R           float32
 18  FIRE_U           float32
 19  FLDS             float32
 20  FSA              float32
 21  FSA_R            float32
 22  FSA_U            float32
 23  FSDS             float32
 24  FSH              float32
 25  FSH_R            float32
 26  FSH_U            float32
 27  HEAT_FROM_AC     float32
 28  HIA              float32
 29  HIA_R            float32
 30  HIA_U            float32
 31  HW               float64
 32  PBOT             float32
 33  Q2M              float32
 34  Q2M_R            float32
 35  Q2M_U            float32
 36  QBOT             float32
 37  RAIN             float32
 38  SNOW             float32
 39  TBOT             float32
 40  THBOT            float32
 41  TSA              float32
 42  TSA_R            float32
 43  TSA_U            float32
 44  TSKIN            float32
 45  TSKIN_R          float32
 46  TSKIN_U          float32
 47  U10              float32
 48  UWBI             float32
 49  UHI              float32
 50  URBAN_HEAT       float32
 51  VAPOR_PRES       float32
 52  VAPOR_PRES_R     float32
 53  VAPOR_PRES_U     float32
 54  WASTEHEAT        float32
 55  WBA              float32
 56  WBA_R            float32
 57  WBA_U            float32
 58  WIND             float32
 59  hour             int32
 60  month            int32
 61  year             int32
 62  UHI_avg          float32
 63  UWBI_avg         float32
 64  UHI_diff         float32
 65  UWBI_diff        float32
 66  local_time       datetime64[ns]
 67  local_hour       int32
 68  location_ID      int64
 69  time_diff        float64
 70  new_event        bool
 71  event_ID         int64
 72  global_event_ID  object
dtypes: bool(1), datetime64[ns](2), float32(60), float64(2), int32(4), int64(3), object(1)
memory usage: 17.8+ GB

#  Step 2: Validate the data

##  Step 2.1 Check the continuity of dates within each event

In [4]:
import pandas as pd

# # Function to validate continuity of events for each location
# def validate_event_continuity(df):
#     # Group by location_ID and event_ID
#     grouped = df.groupby(['location_ID', 'event_ID'])
#     errors = []  # To store any errors found during validation
# 
#     # Iterate through each group
#     for (location_id, event_id), group in grouped:
#         # Sort timestamps to ensure sequential processing
#         sorted_times = group['time'].sort_values().tolist()
# 
#         # Check if each timestamp is no more than an hour apart from the next
#         for i in range(1, len(sorted_times)):
#             if (sorted_times[i] - sorted_times[i - 1]).total_seconds() > 3600:
#                 errors.append(f"Gap of over an hour found in event {event_id} for location {location_id}")
# 
#     return errors
# 
# # Validate event continuity
# continuity_errors = validate_event_continuity(local_hour_adjusted_df)
# if continuity_errors:
#     print("Continuity Errors:")
#     for error in continuity_errors:
#         print(error)
# else:
#     print("All events are continuous with no gaps of over an hour.")

##  Step 2.2 Check the uniqueness of event IDs within each location:

In [5]:
# # Check if event IDs are unique across all locations and continuous heatwave periods
# is_unique = local_hour_adjusted_df['global_event_ID'].nunique() == local_hour_adjusted_df.groupby(['location_ID', 'global_event_ID']).ngroups
# print("Event IDs are unique across all locations and continuous heatwave periods:", is_unique)

## Step 2.3 Manually inspect a few events

In [6]:
# Inspect a few events manually
sample_events = local_hour_adjusted_df.groupby(['location_ID', 'event_ID']).head(1).sort_values('event_ID')
print(sample_events[['location_ID', 'event_ID', 'local_time']])

          location_ID  event_ID          local_time
234119          30757         0 1985-06-01 19:00:00
911888          37245         0 1985-07-08 07:00:00
15922723        30750         0 1993-06-01 18:00:00
234118          30756         0 1985-06-01 19:00:00
911889          37246         0 1985-07-08 07:00:00
...               ...       ...                 ...
56051199        21555       249 2013-02-26 20:00:00
58092848        21555       250 2013-12-01 20:00:00
58118932        21555       251 2013-12-06 20:00:00
58152681        21555       252 2013-12-14 20:00:00
58206302        21555       253 2013-12-24 20:00:00

[293889 rows x 3 columns]

In [7]:
sample_events[['location_ID', 'event_ID', 'local_time', 'UHI_diff']].query('location_ID == 35793')

         location_ID  event_ID          local_time  UHI_diff
4640102        35793         0 1987-06-01 06:00:00  0.347028

In [8]:
local_hour_adjusted_df[['lon', 'lat', 'location_ID', 'event_ID', 'local_time', 'UHI_diff']].query('location_ID == 35793')

,lon,lat,location_ID,event_ID,local_time,UHI_diff
4640102,101.25,26.858639,35793,0,1987-06-01 06:00:00,0.347028
4641001,101.25,26.858639,35793,0,1987-06-01 07:00:00,-0.118289
4641900,101.25,26.858639,35793,0,1987-06-01 08:00:00,-0.255777
4642799,101.25,26.858639,35793,0,1987-06-01 09:00:00,0.278869
4643698,101.25,26.858639,35793,0,1987-06-01 10:00:00,0.474350
4644597,101.25,26.858639,35793,0,1987-06-01 11:00:00,0.319997
4645496,101.25,26.858639,35793,0,1987-06-01 12:00:00,0.251897
4646395,101.25,26.858639,35793,0,1987-06-01 13:00:00,0.352888
4647294,101.25,26.858639,35793,0,1987-06-01 14:00:00,0.285086
4648193,101.25,26.858639,35793,0,1987-06-01 15:00:00,0.288741
4649092,101.25,26.858639,35793,0,1987-06-01 16:00:00,0.212895
4649991,101.25,26.858639,35793,0,1987-06-01 17:00:00,0.307031
4650890,101.25,26.858639,35793,0,1987-06-01 18:00:00,0.422665
4651789,101.25,26.858639,35793,0,1987-06-01 19:00:00,0.522335
4652688,101.25,26.858639,35793,0,1987-06-01 20:00:00,0.490766
4653587,101.25,26.858639,35793,0,1987-06-01 21:00:00,0.428886
4654486,101.25,26.858639,35793,0,1987-06-01 22:00:00,0.366140
4655385,101.25,26.858639,35793,0,1987-06-01 23:00:00,0.311915
4656284,101.25,26.858639,35793,0,1987-06-02 00:00:00,0.224715
4657183,101.25,26.858639,35793,0,1987-06-02 01:00:00,0.101098
4658082,101.25,26.858639,35793,0,1987-06-02 02:00:00,0.018621
4658981,101.25,26.858639,35793,0,1987-06-02 03:00:00,0.088403
4659880,101.25,26.858639,35793,0,1987-06-02 04:00:00,0.239476
4660779,101.25,26.858639,35793,0,1987-06-02 05:00:00,0.353669

In [9]:
local_hour_adjusted_df.head()

,index,time,lat,lon,APPAR_TEMP,APPAR_TEMP_R,APPAR_TEMP_U,EFLX_LH_TOT,EFLX_LH_TOT_R,EFLX_LH_TOT_U,...,UWBI_avg,UHI_diff,UWBI_diff,local_time,local_hour,location_ID,time_diff,new_event,event_ID,global_event_ID
8945088,8945088,1989-02-03 00:00:00,-45.706806,292.5,17.646959,17.637291,18.878418,24.109003,24.298277,-4.979587e-15,...,-0.031426,0.086491,-0.130616,1989-02-03 19:00:00,19,13770,NaN,False,0,13770_0
8945250,8945250,1989-02-03 01:00:00,-45.706806,292.5,15.658759,15.648606,16.951935,7.136189,7.192213,0.000000e+00,...,0.077270,0.128967,-0.067226,1989-02-03 20:00:00,20,13770,1.0,False,0,13770_0
8945412,8945412,1989-02-03 02:00:00,-45.706806,292.5,13.975966,13.966308,15.206352,5.702584,5.747354,4.693841e-15,...,0.104143,0.103393,-0.046946,1989-02-03 21:00:00,21,13770,1.0,False,0,13770_0
8945574,8945574,1989-02-03 03:00:00,-45.706806,292.5,13.185209,13.176082,14.347800,4.975313,5.014373,-4.586284e-15,...,0.105526,0.075433,-0.046178,1989-02-03 22:00:00,22,13770,1.0,False,0,13770_0
8945736,8945736,1989-02-03 04:00:00,-45.706806,292.5,12.749510,12.740907,13.845274,4.594939,4.631013,-4.574191e-15,...,0.099154,0.031185,-0.058834,1989-02-03 23:00:00,23,13770,1.0,False,0,13770_0

# Step 3: For each urban grid, identify HWs with positive and negative UHI-HW interactions and then calculate the mean UHI_diff value. Then compare the meteorological conditions (air temperature, humidity, wind, planet boundary layer depth, etc.) between the positive UHI-HW-interaction event and negative UHI-HW-interaction event.

##  Step 3.0: Calculate the average event frequency (number of even per year) and average event duration  per location

In [10]:
import pandas as pd

# Assuming your DataFrame is named local_hour_adjusted_df
# Ensure proper datatypes especially for 'time' column
local_hour_adjusted_df['time'] = pd.to_datetime(local_hour_adjusted_df['time'])
local_hour_adjusted_df['year'] = local_hour_adjusted_df['time'].dt.year

# Group by location_ID, year, and event_ID
grouped = local_hour_adjusted_df.groupby(['location_ID', 'year', 'event_ID'])

# Calculate event duration in days (count rows and divide by 24)
event_duration = grouped.size().div(24).reset_index(name='Duration in Days')

# Aggregate data
# Number of distinct years per location
years_per_location = local_hour_adjusted_df.groupby('location_ID')['year'].nunique()

# Number of distinct events per location
distinct_events = local_hour_adjusted_df.groupby('location_ID')['event_ID'].nunique()

# Average event duration per location
average_duration = event_duration.groupby('location_ID')['Duration in Days'].mean()

# Normalize event count by the number of years
events_per_year = distinct_events / years_per_location

# Combine all results into a single DataFrame
hw_freq_by_location = pd.DataFrame({
    'location_ID': events_per_year.index,
    'Num_events': events_per_year.values,
    'Duration_avg': average_duration.values
})
hw_freq_by_location.head()

   location_ID  Num_events  Duration_avg
0        13770        1.00      3.000000
1        14631        1.00      3.000000
2        14636        2.48      3.406250
3        15206        1.00      3.000000
4        15207        1.00      2.833333

In [12]:
hw_freq_by_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3704 entries, 0 to 3703
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location_ID   3704 non-null   int64
 1   Num_events    3704 non-null   float64
 2   Duration_avg  3704 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 86.9 KB

In [13]:
#show % of rows that has Duration_avg < 3.0
hw_freq_by_location.query('Duration_avg < 3.0').count()/hw_freq_by_location.count()

location_ID     0.014849
Num_events      0.014849
Duration_avg    0.014849
dtype: float64

In [14]:
percentage = (hw_freq_by_location['Duration_avg'] < 3.0).mean() * 100
percentage

1.4848812095032398

##  Step 3.1: define day and night time 
Daytime: 08:00 to 16:00 local time. (Keer paper)
Nighttime: 20:00 to 04:00 local time.

In [ ]:
import pandas as pd

# Assuming 'local_hour_adjusted_df' is your DataFrame name

# Step 1: Define masks for daytime and nighttime
daytime_mask = local_hour_adjusted_df['local_hour'].between(8, 16)
nighttime_mask = (local_hour_adjusted_df['local_hour'].between(20, 24) |
                  local_hour_adjusted_df['local_hour'].between(0, 4))

##  Step 3.2: Calculate the mean UHI_diff value for each event day and night

In [ ]:
# Function to compute averages for UHI_diff based on given mask
def compute_uhi_diff_averages(df, mask):
    return df[mask].groupby('global_event_ID')['UHI_diff'].mean()

# Calculate averages for UHI_diff for daytime and nighttime
daytime_uhi_diff_avg = compute_uhi_diff_averages(local_hour_adjusted_df, daytime_mask)
nighttime_uhi_diff_avg = compute_uhi_diff_averages(local_hour_adjusted_df, nighttime_mask)

In [ ]:

# Step 2: Compute simple averages for all other relevant columns
columns_to_average = [ 'UHI_diff', 'UHI', 'UWBI', 'WIND', 'RAIN', 'SNOW', 
                      'Q2M_R', 'Q2M_U', 'VAPOR_PRES_R', 'VAPOR_PRES_U']
uhi_diff_avg_df = local_hour_adjusted_df.groupby('global_event_ID')[columns_to_average].mean()
uhi_diff_avg_df.info()

In [ ]:

# Step 3: Add daytime and nighttime UHI_diff averages to the dataframe
uhi_diff_avg_df['UHI_diff_daytime'] = daytime_uhi_diff_avg
uhi_diff_avg_df['UHI_diff_nighttime'] = nighttime_uhi_diff_avg

# The resulting DataFrame, 'simple_averages_df', now includes the requested columns

In [ ]:
uhi_diff_avg_df.info()
uhi_diff_avg_df.head(300)

In [ ]:
uhi_diff_avg_df.query('UHI_diff< 0').count()

# Step 4: Data Analysis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind, mannwhitneyu

# Assuming 'uhi_diff_avg_df' is already loaded in your environment

# Separate the data into two groups
negative_uhi_diff = uhi_diff_avg_df[uhi_diff_avg_df['UHI_diff'] < 0]
positive_uhi_diff = uhi_diff_avg_df[uhi_diff_avg_df['UHI_diff'] > 0]

# Define non-UHI columns
non_uhi_columns = ['UWBI', 'WIND', 'RAIN', 'SNOW', 'Q2M_R', 'Q2M_U', 'VAPOR_PRES_R', 'VAPOR_PRES_U']

# # Descriptive Statistics
# print("Descriptive Statistics for UHI_diff < 0:")
# print(negative_uhi_diff[non_uhi_columns].describe())
# print("\nDescriptive Statistics for UHI_diff > 0:")
# print(positive_uhi_diff[non_uhi_columns].describe())

In [ ]:
negative_uhi_diff

In [ ]:
local_hour_adjusted_df.query('global_event_ID == "15782_1"')

In [ ]:


# Correlation Analysis
correlations = uhi_diff_avg_df[non_uhi_columns + ['UHI_diff']].corr()['UHI_diff']
print("\nCorrelations with UHI_diff:")
print(correlations)

# Step 5: Which Variable is contributing to the UHI_diff

##  Step 5.1: Using logistic regression

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import shap
from sklearn.preprocessing import StandardScaler

# Load your data
# Assuming 'uhi_diff_avg_df' is already in your environment

# Prepare the data
X = uhi_diff_avg_df[['UWBI', 'WIND', 'RAIN', 'SNOW', 'Q2M_R', 'Q2M_U', 'VAPOR_PRES_R', 'VAPOR_PRES_U']]
y = (uhi_diff_avg_df['UHI_diff'] > 0).astype(int)  # Create a binary target variable

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the logistic regression model
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

# Summarize the background data using shap.kmeans
background_data = shap.kmeans(X_train_scaled, k=30)  # Summarize with 30 representative clusters

# Create SHAP values using KernelExplainer with the summarized background
explainer = shap.KernelExplainer(model.predict_proba, background_data, link="logit", n_jobs = 32)
shap_values = explainer.shap_values(X_test_scaled)

# Plot the SHAP values for the positive class
shap.summary_plot(shap_values[1], X_test_scaled, feature_names=X.columns, plot_type="bar")

In [ ]:
import pandas as pd
import xgboost as xgb
import shap
from sklearn.model_selection import train_test_split

# Load your data
# Assuming 'uhi_diff_avg_df' is already in your environment

# Prepare the data
X = uhi_diff_avg_df[['UWBI', 'WIND', 'RAIN', 'SNOW', 'Q2M_R', 'Q2M_U', 'VAPOR_PRES_R', 'VAPOR_PRES_U']]
y = uhi_diff_avg_df['UHI']  # Assuming you want to predict UHI_diff directly

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = xgb.XGBRegressor(objective='reg:squarederror')
model.fit(X_train, y_train)

# Create SHAP values
explainer = shap.Explainer(model)
shap_values = explainer(X_test)

# Summarize the SHAP values in a plot to show the impact of each feature
shap.summary_plot(shap_values, X_test, plot_type="bar")

strong positive correlation UHI and HW
negative event 
insignficant event 
global map 
for each grid # postive and negative interaction